:root {
    --main-background-color: #FFFFFF;
    --h1-color: #10BD9E;
    --card-background-color: #CCFFEB;
    --footer-nav-background-color: #96FCAB;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}


main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
  }

#hero  #second-row{
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
  }

h1 p {
    text-align: center;
}

#header-image {
    height: 75px;
    width: 75px;
    margin-left: 75px;
    margin-top: 12.5px;
}

#header {
    background-color: var(--footer-nav-background-color);
    height: 100px;
    top: 0;
    width: 100%;
}

#header div {
    float: right;
    font-size: 20px;
}

#header div ul {
    list-style-type: none;
    display: inline-block;
}

#header div ul li {
    display: inline-block;
    height: 100px;
    width: 175px;
    text-align: center;
    padding-top: 35px;
    padding-right: 10px;
}

#header div ul li a {
    text-decoration: none;
    color: white;
}

#ctr:hover {
    background-color: var(--h1-color);
    padding: 43px 17px 43px 17px;
}

#esbelta:hover {
    background-color: var(--h1-color);
    padding: 43px 57px 43px 57px;
}

#about-me:hover {
    background-color: var(--h1-color);
    padding: 43px 67px 43px 67px;
}

#lv:hover {
    background-color: var(--h1-color);
    padding: 43px 2px 43px 2px;
}

h1 {
    color: var(--h1-color);
    text-align: center;
}

p {
    margin-top: -30px;
}

#hero {
    height: 500px;
    margin-bottom: 30px;
}

#hero-card {
    height: 425px;
    width: 50%;
    overflow-wrap: normal;
    padding: 0 50px 0 50px;
    display: inline-block;
    text-align: center;
}

#hero-card h1 {
    padding-top: 35px;
    font-size: 2em;
}

#hero-card p {
    padding-top: 30px;
}

#hero-img {
    height: 400px;
    width: 50%;
    float: right;
}

#hero-image {
    width: 100%;
    height: 100%;
}

#hero div ul {
    list-style-type: none;
}

#hero div ul li {
    padding-top: 25px;
}

#hero div ul li a {
    text-decoration: none;
    color: var(--h1-color);
}

#row1 {
    display: flex;
    flex: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

#esbelta-card {
    height: 400px;
    width: 75%;
    margin-top: 50px;
    position: relative;
}

#ctr-card {
    height: 400px;
    width: 50%;
    overflow-wrap: normal;
    padding: 0 50px 0 50px;
    display: inline-block;
    text-align: center;
}

.esbelta-img {
    object-fit: contain;
    width: 100%;
}

.ctr {
    width: 50%;
}

#row2 {

    width: 100%;
    float: right;
    margin-top: 60px;
}

.ctr {
    width: 100%;
    height: 100%;
}


#lv-card {
    height: 400px;
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-right: 50px;
}

.lv {
    width: 100%;
    height: 100%; 
}

footer {
    background-color: var(--footer-nav-background-color);
    text-align: center;
    clear: both;
    width: 100%;
    height: 375px;
    margin-top: 550px;
}

#footer {
    margin-top: 60px;
}

footer .left {
    padding-top: 120px;
    display: inline-block;
    text-align: center;
}

.right {
    text-align: center;
    height: 300px;
    width: 50%;
    float: right;
    padding-top: 30px;
}

.right ul li {
    padding: 20px;
}

.right ul {
    list-style-type: none;
    text-align: center;
}

.right ul li a {
    padding: 25px;
    text-decoration: none;
    padding-right: 0px;
    text-align: center;
    color: white;
    font-size: 2em;
}

footer .right .left { 
    margin-top: 60px;
    font-size: 2em;
}




















